datasets[audio]
transformers
peft
hf_transfer
librosa
evaluate
jiwer
gradio
bitsandbytes
accelerate 
loralib
tensorboard
gradio
streamlit
openai-whisper
setuptools-rust
sacrebleu
ctranslate2
unbabel-comet
matplotlib
zhconv
faster-whisper
whisperx
